includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:

    paths:
        - app
        - tests
        - database
        - config
        - database
        - routes

    # The level 8 is the highest level
    level: 6

    checkMissingIterableValueType: true

    checkModelProperties: true
